<div class="deleteConfirm" *ngIf="bookData$ | async as bookData">
    <h3 mat-dialog-title>Quiere borrar este artículo?</h3>
    <div mat-dialog-content>
        <table class="table">
            <tr>
                <td><strong>BookId</strong></td>
                <td>{{bookData.bookId}}</td>
            </tr>
            <tr>
                <td><strong>Título</strong></td>
                <td>{{bookData.title}}</td>
            </tr>
            <tr>
                <td><strong>Autor</strong></td>
                <td>{{bookData.author}}</td>
            </tr>
            <tr>
                <td><strong>Categoría</strong></td>
                <td>{{bookData.category}}</td>
            </tr>
            <tr>
                <td><strong>Precio</strong></td>
                <td>{{bookData.price}}</td>
            </tr>
        </table>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="1" mat-raised-button color="warn" tabindex="-1"
            (click)="confirmDelete()">Borrar</button>
        <button mat-button (click)="onNoClick()" mat-raised-button>Cancelar</button>
    </div>
</div>
